<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- Mine 
  -->
      <script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
    {% if dev %}
      {% style "css/site.css" %}
    {% else %}
      {% style "css/site.min.css" %}
    {% endif %}

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="six column" style="margin-top: 25%">

      <div id="japanese">{{ japanese }}</div>

      <div id="app">
        
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

      {% if dev %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
      {% script "js/out/goog/base.js" %}
      {% script "js/app.js" %}
      <script type="text/javascript">goog.require("refire.dev");</script>
      {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js"></script>
      {% script "js/app.js" %}
      {% endif %} 
</body>
</html>
