@import url(http://fonts.googleapis.com/css?family=Raleway:200,700);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: 'Indie Flower', cursive;
  color: #333;
  line-height: 1.5em;
}

#japanese {
  font-family: 'Noto Sans Japanese';
  font-size: 0.9em;
}
/*
h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
*/